/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
*.log
/.vs/
/.utmp/
/UserSettings/
/Builds/
/LegacyArchive/
*.csproj
*.sln
*.userprefs
*.pidb
*.booproj
*.svd
*.user
*.apk
*.aab
*.ipa
*.xcarchive/
Pods/
Podfile.lock
.DS_Store
